*	{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    
}

/* element selectors */

body    {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0 auto;
}

main    {
    padding: 10px 20px;
}

img {
    max-width: 100%;
}

/* on all pages */

.page-header    {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    padding: 14px 40px;
    width: 100%;
}

.heading  {
    font-size: 2em;
    margin: 5px;
}

.nav-bar {
    font-size: .75em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.barLink    {
    padding: 5px 15px;
    background-color: black;
    border-radius: 2em;
}

.pageTitle  {
    font-size: 3em;
    display: block;
}

a.barLink  {
    color: white;
    text-decoration: none;
}

main a   {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    margin: 20px;
}

.email, .twitter, .linkedIn, .facebook, .instagram  {
    height: 30px;
    margin: 10px;
}

.copyright  {
    text-align: center;
}

/* Home page */



.kyle   {
    width: 75%;
    max-width: 400px;
    border: 8px solid black;
    border-radius: 40px;
}

.name   {
    padding: 2px 0px;
    font-variant-caps: small-caps;
}

.current-title  {
    
}

.textRight  {
    margin-top: 10px;
}

/* Project page */

.proj   {
}

.projDesc   {
    margin: 10px;
    width: 75%;
    max-width: 90%;
}

.projImg    {
    width: 75%;
    margin: 10px;
    border: 4px solid black;
    max-width: 90%;
}

/* Resume */

.resume {
    
}

.resumeBox  {
    
}

.resume h3 {
    font-size: 2em;
}

.contact    {
    font-size: 1em;
}

.dates  {
    font-size:  1em;
}

hr  {
    border: none;
    border-top: 5px double black;
    color: black;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr::after   {
    background: #ffffff;
    content: "H";
    font-size: 30px;
    padding: 0 4px;
    position: relative;
    top: -25px;
}

.statement  {
    font-size: 1em;
}

.resumeSection  {
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant-caps: small-caps;
}

.company, .university    {
    font-size: 1.25em;
    font-weight: bold;
}

.job-title {
    font-size: 1em;
    font-variant-caps: small-caps;
}

.job-description, .degree   {
    font-size:  1em;
}

.resume *    {
    padding: 5px 0px;
}

/*    Media Queries   */

/* Tablet Display */

@media screen and (min-width:768px)    {
    
    main    {
        margin: 15px 25px;
    }
    
    /* on all pages */
    
    .heading  {
        font-size: 3em;
        margin: .5em;
    }
    
    .nav-bar {
        font-size: 2em;
    }

    .barLink    {
        padding: 8px 20px;
    }
    
    .pageTitle  {
        font-size: 4em;
    }
    
    .footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .email, .twitter, .linkedIn, .facebook, .instagram  {
        height: 50px;
    }
    
    .copyright  {
        font-size: 1.5em;
    }
    
    /* Home page */
    
    .textRight  {
        font-size: 2em;
    }
    
    /* Project page */
    
    .projDesc   {
        margin: 10px;
        width: 75%;
        max-width: 90%;
        font-size: 2em;
    }
    
    .projImg    {
        width: 75%;
        margin: 10px;
        border: 4px solid black;
        max-width: 90%;
    }
    
    /* Resume */
    
    .resume h3 {
        font-size: 4em;
    }
    
    .contact    {
        font-size: 2em;
    }
    
    .dates  {
        font-size:  2em;
    }
    
    .statement  {
        font-size: 2em;
    }
    
    .resumeSection  {
        font-size: 3em;
    }
    
    .company, .university    {
        font-size: 2.5em;
    }
    
    .job-title, .degree {
        font-size: 2em;
    }
    
    .job-description    {
        font-size:  2em;
    }
    
}

/* Large Display */

@media screen and (min-width:1130px)    {
    
    main    {
        margin: 15px 50px;
    }
    
    .page-header    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .heading  {
        font-size: 4em;
        margin: .5em;
    }
    
    .nav-bar {
        font-size: 2.6em;
    }
    
    .barLink    {
        padding: 15px 25px 15px 25px;
        background-color: black;
        margin: 0px 20px 0px 20px;
        border-radius: 2em;
    }
    
    .pageTitle  {
        font-size: 45px;
        display: block;
    }
    
    /* Index / Bio */
    
    .kyle   {
        width: 300px;
        border: 2px solid black;
    }
    
    .headshot   {
        flex: 0 1 30%;
    }
    
    .bio    {
        display: flex;
    }
    
    .textRight  {
        flex: 0 1 70%;
    }
    
    /* Project Page */
    
    .proj   {
        display: flex;
        margin: 10px 0px;
    }
    
    .projDesc   {
        width: 60%;
    }
    
    .project-Img    {
        width: 40%;
    }
    
    /* Resume */
    
    .resumeBox  {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .resume h3 {
        font-size: 50px;
    }
    
    .contact, .dates    {
        /* float: right; */
        font-size: 20px;
        text-align: right;
    }
    
    hr  {
        border: none;
        border-top: 5px double black;
        color: black;
        overflow: visible;
        text-align: center;
        height: 5px;
    }
    
    hr::after   {
        background: #ffffff;
        content: "H";
        font-size: 30px;
        padding: 0 4px;
        position: relative;
        top: -24px;
    }
    
    .statement  {
        font-size: 25px;
    }
    
    .resumeSection  {
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
    }
    
    .company, .university    {
        font-size: 26px;
        font-weight: bold;
    }
    
    .job-title, .degree {
        font-size: 20px;
    }
    
    .resume *    {
        padding: 5px 0px;
    }
    
}
